<meta name="Description" content="Author:Jesús Abraham La Torre Castañeda">
<div class="card bg-light mb-3" style="max-width: 24rem; align-items: center;">
    <div class="col-md-12" style="align-content: center; align-items: center">
      
      <h3 class="mb-3 text-center">Detail Drink</h3>
  
      <div class="form-group">
        <label for="strDrink">Name</label>
        <input id="strDrink" type="" [(ngModel)]="drinkData.strDrink" class="form-control" placeholder="Name" disabled=true>
      </div>
  
      <div class="form-group">
          <label for="strTags">Tag</label>
        <input id="strTags" type="text" [(ngModel)]="drinkData.strTags" class="form-control" placeholder="Tag" disabled=true>
      </div>
  
      <div class="form-group">
          <label for="strCategory">Category</label>
        <input id="strCategory" type="text" [(ngModel)]="drinkData.strCategory" class="form-control" placeholder="Category" disabled=true>
      </div>
  
      <div class="form-group">
          <label for="strIBA">IBA</label>
          <input id="strIBA" type="text" [(ngModel)]="drinkData.strIBA" class="form-control" placeholder="IBA" disabled=true>
        </div>
  
        <div class="form-group">
            <label for="strAlcoholic">Alcoholic</label>
            <input id="strAlcoholic" type="text" [(ngModel)]="drinkData.strAlcoholic" class="form-control" placeholder="Alcoholic" disabled=true>
          </div>
  
          <div class="form-group">
              <label for="strGlass">Glass</label>
              <input id="strGlass" type="text" [(ngModel)]="drinkData.strGlass" class="form-control" placeholder="Glass" disabled=true>
            </div>
  
            <div class="form-group">
                <label for="strInstructions">Instructions</label>
                <textarea id="strInstructions" type="text" style="height: 100;" [(ngModel)]="drinkData.strInstructions" class="form-control" placeholder="Instructions" disabled=true></textarea>
              </div>
  
              <div>
                  <label for="strDrinkThumb">Image</label>
                  <img id="strDrinkThumb" type="text" alt="There's no image yet"  [src]="drinkData.strDrinkThumb" style="width: 100%;height: 100%;" placeholder="Image" >
                </div>
  
  
                  <h3 class="mb-3 text-center">Main Drink Ingredients</h3>
  
                  <div class="form-group">
                      <label for="strIngredient1">Ingredient 1</label>
                      <input id="strIngredient1" type="text" [(ngModel)]="drinkData.strIngredient1" class="form-control" placeholder="Instructions" disabled=true>
                  </div>
  
                  <div class="form-group">
                      <label for="strIngredient2">Ingredient 2</label>
                      <input id="strIngredient2" type="text" [(ngModel)]="drinkData.strIngredient2" class="form-control" placeholder="Instructions" disabled=true>
                  </div>
  
                  <div class="form-group">
                      <label for="strIngredient3">Ingredient 3</label>
                      <input id="strIngredient3" type="text" [(ngModel)]="drinkData.strIngredient3" class="form-control" placeholder="Instructions" disabled=true>
                  </div>
  
                  <div class="form-group">
                      <label for="strIngredient4">Ingredient 4</label>
                      <input id="strIngredient4" type="text" [(ngModel)]="drinkData.strIngredient4" class="form-control" placeholder="Instructions" disabled=true>
                  </div>
  
  
      
    </div>
  </div>
  
  