

<div class="container custom-container-1">

    <!-- Show it when there is no Drinks -->
    <div class="no-data text-center" *ngIf="Drink.length == 0">
      <p>There is no Drinks yet!</p>
    </div>
  
    <!-- Drinks list table, it hides when there is no drink on table -->
    
  
  <div class="row">
  
  
    <div class="form-group col-md-3">
      <label for="selCate"><strong>Categories</strong>
      <select  name="selCate" id="selCate" class="form-control" #mySelect (change)="onSelectCategories(mySelect.value)">
        <option value="0">-- Select a Category --</option>
        <option *ngFor="let p of categories" [value]="p.strCategory">{{p.strCategory}}</option>
      </select></label>
    </div>
  
    <div class="form-group col-md-3">
      <label for="selGlass2"><strong>Glasses</strong>
      <select name="selGlass2" id="selGlass2" class="form-control" #mySelect2  (change)="onSelectGlasses(mySelect2.value)">
        <option value="0">-- Select a Glasse --</option>
        <option *ngFor="let p of glasses" [value]="p.strGlass">{{p.strGlass}}</option>
      </select></label>
    </div>
        
    <div class="form-group col-md-3">
          <label for="selIngre4"><strong>Ingredients</strong>
          <input type="text" list="countries" name="country" #selected (change)="selectIngredients(selected)"class="form-control" />
          <datalist id="countries">
              <select name="selIngre4" id="selIngre4" class="form-control">
                <option value="0">-- Select a Ingredient --</option>
                  <option *ngFor="let c of ingredients" [value]="c.strIngredient1"></option>
              </select>
          </datalist></label>
    </div>
  
    <div class="form-group col-md-3">
          <label for="selAlco3"><strong>Alcoholic</strong>
          <select name="selAlco3" id="selAlco3" class="form-control" #mySelect3 (change)="onSelectAlcoholic(mySelect3.value)">
            <option value="0">-- Select with or Without Alcohol --</option>
            <option *ngFor="let p of alcoholic" [value]="p.strAlcoholic">{{p.strAlcoholic}}</option>
          </select></label>
    </div>
  
  </div>
    
    <div *ngIf="Drink.length !== 0">
      <h3 class="mb-3 text-center">Drinks List</h3>
  
      <div class="col-md-12">
        <table class="table table-bordered" style="text-align: center">
          <thead class="thead-dark">
            <tr class='col-md-12'>
              <th scope="col">ID</th>
              <th scope="col">Drink Name</th>
              <!--<th scope="col">Category</th>
              <th scope="col">Alcoholic</th>
              <th scope="col">Glass</th>
              <th scope="col">Date Modified</th>-->
              <th scope="col">Product Image</th>
            </tr>
          </thead>
          <tbody style="text-align: center">
            <tr *ngFor="let drink of Drink">
              <td>{{drink.idDrink}}</td>
  
              <td>
                  <span class="edit" (click)="detailDrink(drink.idDrink)" routerLinkActive="active">{{drink.strDrink}}</span>  
              </td>
  
              <!--<td>{{drink.strCategory}}</td>
              
              <td>{{drink.strAlcoholic}}</td>
  
              <td>{{drink.strGlass}}</td>
  
              <td>{{drink.dateModified}}</td>-->
              
              <td style="text-align: center"> 
                  <img alt="There's no image yet" [src]="drink.strDrinkThumb " style="width: 50px;height: 50px;"/> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  
  </div>