
<meta name="Description" content="Author:Jesús Abraham La Torre Castañeda">

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Drinks List Challenge</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    
  </nav>
  <button type="button" class="btn btn-primary" style="filter: contrast(100%);"   routerLink="/drinks-list">Drinks List</button>
  <!--<a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/employees-list">Drinks List</a>-->
</div>

<router-outlet></router-outlet>